*{
  margin: 0;
  padding: 0;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-family: 'Heebo', sans-serif;
}
header{
  display: flex;
  justify-content: center;
  width: 100%;
  h2{
    color: rgba(255, 255, 255, 0.733);
    padding-top: 80px;
    // padding-left: 70px;
    font-size: 46px;
    font-weight: bold;
  }
}
footer{
  color: white;
  margin-bottom: 20px;
  font-weight: bold;
  a{
    color: rgb(248, 96, 96);
    text-decoration: none;
  }a:hover{
    border: 0;
    outline: 0;
    color:  rgb(253, 189, 189);
  }
}